body
{
            background-image: linear-gradient( 90deg, rgb(255, 51, 0) , #FF7323);
        }
    
    
@font-face {
font-family: phatt;
src: url( PHATP___.TTF );
}
      
#logo { 
    font-size: 80px;
    font-family: phatt;
    position: absolute; 
    text-align: center;
    top: 50%; 
    left: 50%; 
    transform: translate(-50% , -50%); 
       
}


